Repository romansapotko/angular-mentoring: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:scss, npm run lint:ts

deploy: bddecc5635fe87481ecb632782f29ffaa25c0117
  3rdpartylicenses.txt
  445.833633b3a5810023.js
  index.html
  main.a283d8bef63176d7.js
  main.d0e0eb21f1f4d767.js
  runtime.009bb2d6edccfea4.js
  runtime.41e095032412dc30.js
  styles.3482a9e096352e24.css
  styles.8ae01b8f4ea24a6e.css
Due: prettier --write

Update styles and add trackBy
  src/app/course-management/components/course-list/course-list.component.html
  src/app/course-management/components/course-list/course-list.component.scss
  src/app/course-management/components/course-list/course-list.component.ts
  src/styles.scss
Due: prettier --write, npm run lint:scss, npm run lint:ts

Format html
  src/app/core/components/breadcrumbs/breadcrumbs.component.html
  src/app/core/components/footer/footer.component.html
  src/app/core/components/header/header.component.html
  src/app/course-management/components/course-list/course-list.component.html
  src/app/course-management/components/course/course.component.html
  src/index.html
Due: prettier --write

deploy: 75d92bd3035b828a6380dd8cbfc9f2b84141c38b
  445.2bb242b73f0134d2.js
  445.833633b3a5810023.js
  index.html
  main.a283d8bef63176d7.js
  main.a73d2d1f2931aecf.js
  runtime.2331682ce8151086.js
  runtime.41e095032412dc30.js
  styles.8ae01b8f4ea24a6e.css
  styles.ddf9288052883178.css
Due: prettier --write

implement unit testing
  angular.json
  package.json
  src/app/course-management/components/course-list/course-list.component.spec.ts
  src/app/course-management/components/course/course.component.spec.ts
Due: prettier --write, npm run lint:ts

implement unit testing (#5)
  angular.json
  package.json
  src/app/course-management/components/course-list/course-list.component.spec.ts
  src/app/course-management/components/course/course.component.spec.ts
Due: prettier --write, npm run lint:ts

deploy: 1b8516ac09619c37a1ad278ef3c9efe69d7ecaeb
  index.html
Due: prettier --write

fix for mobile
  src/app/course-management/components/course-list/course-list.component.scss
  src/app/course-management/components/course/course.component.html
  src/app/course-management/components/course/course.component.scss
Due: prettier --write, npm run lint:scss

Add custom directive
  src/app/course-management/components/course-list/course-list.component.ts
  src/app/course-management/components/course/course.component.html
  src/app/course-management/course.module.ts
  src/app/course-management/utils/border-color.ts
  src/app/course-management/utils/creation-date.directive.ts
Due: prettier --write, npm run lint:ts

Add no data information
  src/app/course-management/components/course-list/course-list.component.html
  src/app/course-management/components/course-list/course-list.component.scss
Due: prettier --write, npm run lint:scss

Add top rated field
  src/app/course-management/components/course-list/course-list.component.ts
  src/app/course-management/components/course/course.component.html
  src/app/course-management/components/course/course.component.scss
  src/app/course-management/models/course.ts
Due: prettier --write, npm run lint:scss, npm run lint:ts

Use uppercase pipe
  src/app/course-management/components/course/course.component.html
Due: prettier --write

Add duration pipe
  src/app/course-management/components/course-list/course-list.component.ts
  src/app/course-management/components/course/course.component.html
  src/app/course-management/course.module.ts
  src/app/course-management/utils/duration.pipe.spec.ts
  src/app/course-management/utils/duration.pipe.ts
Due: prettier --write, npm run lint:ts

Adjust date
  src/app/course-management/components/course/course.component.html
  src/app/course-management/utils/duration.pipe.ts
Due: prettier --write, npm run lint:ts

Add orderBy pipe
  src/app/course-management/components/course-list/course-list.component.html
  src/app/course-management/components/course-list/course-list.component.ts
  src/app/course-management/course.module.ts
  src/app/course-management/models/course.ts
  src/app/course-management/utils/order-by.pipe.spec.ts
  src/app/course-management/utils/order-by.pipe.ts
Due: prettier --write, npm run lint:ts

Add filter pipe
  src/app/course-management/components/course-list/course-list.component.html
  src/app/course-management/components/course-list/course-list.component.ts
  src/app/course-management/course.module.ts
  src/app/course-management/utils/filter.pipe.spec.ts
  src/app/course-management/utils/filter.pipe.ts
Due: prettier --write, npm run lint:ts

deploy: 55e782aba5d4a4a1d201c9731750b973c37a307a
  445.2bb242b73f0134d2.js
  825.7e493790947f0e3a.js
  index.html
  main.86520a6fba5bf00b.js
  main.a73d2d1f2931aecf.js
  runtime.2331682ce8151086.js
  runtime.5f714cc7524ad869.js
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.html) or (any of: *.ts)
  npm run lint:scss: any of: *.scss
  npm run lint:ts: any of: *.ts
